<!DOCTYPE html>
<html>
<head>
  <title>Mathmath</title>
  <%= stylesheet_link_tag    "mathmath/application", media: "all" %>
  <%= javascript_include_tag "mathmath/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
